<ul class="stories-list" data-bind="foreach: topStoriesList.elements">
  <li class="stories-list-item">
    <h3 class="title" data-bind="text: title"></h3>
    <div class="info-line">
      <span class="score-info" data-bind="text: scoreText"></span>
      <span class="create-info" data-bind="text: createInfoText"></span>
    </div>
  </li>
</ul>
