@import "bourbon";
@import "libs/materialize/materialize.scss";

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 420px) {
    .stories-list-item {
        .score-info-wrap,
        .create-info-wrap {
            display: block;
        }

        .score-info-wrap {
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 421px) {
    .stories-list-item {
        .score-info-wrap,
        .create-info-wrap {
            display: inline-block;
        }
    }
}

.stories-list-item {
    padding: 11px 15px 11px 15px;
    margin-bottom: 10px;
    opacity: 0;
    @include perspective(1300px);

    &.active {
        @include transform-style(preserve-3d);
        @include transform(translateZ(50px) translateY(50px) rotateX(-90deg));
        @include animation(fallPerspective .8s ease-in-out forwards);
    }
    
    .title {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .info-line {
        font-size: 12px;

        .score-info {
            border-radius: 100px;
            padding: 2px 9px 3px;
            background-color: rgba(0, 0, 0, 0.15);
            margin-right: 10px;
        }

        .create-info {
            color: rgb(187, 187, 187);
        }
    }
}

.loading-hint {
    $circle-size: 24px;

    width: $circle-size;
    margin: auto;
    
    .preloader-wrapper {
        height:  $circle-size;
        width: $circle-size;
    }
}

@include keyframes(fallPerspective) {
    0% { }
    100% { @include transform(translateZ(0px) translateY(0px) rotateX(0deg)); opacity: 1; }
}
