
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 420px) {
    .stories-list-item {
        .score-info-wrap,
        .create-info-wrap {
            display: block;
        }

        .score-info-wrap {
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 421px) {
    .stories-list-item {
        .score-info-wrap,
        .create-info-wrap {
            display: inline-block;
        }
    }
}

.stories-list-item {
    padding: 11px 15px 11px 15px;
    margin-bottom: 10px;
    .title {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .info-line {
        font-size: 12px;

        .score-info {
            border-radius: 100px;
            padding: 2px 9px 3px;
            background-color: rgba(0, 0, 0, 0.15);
            margin-right: 10px;
        }

        .create-info {
            color: rgb(187, 187, 187);
        }
    }
}